conda {
    enabled = true
}

profiles {
    slurm {
        executor {
            name = 'slurm'
            queueSize = 20
        }

        process {
            withName: RUN_BLAT {
                cpus     = 32
                memory   = '128 GB'
                time     = '5d'
                queue = 'long,big-mem'
                maxForks = 24
        }
        
        cpus     = 12
        memory   = '24 GB'
        time     = '6h'
        queue = 'express,long,big-mem'    
        }
    }

    local {
        executor {
            name = 'local'
        }
    }
}
