params {
    // Input parameters
    mutations_tsv = null
    bam_dir = null
    
    // Reference genome
    reference = "/groups/wyattgrp/reference/hg38/hg38.fa"
    
    // Output directory
    outdir = "results"
}

conda {
    enabled = true
}

profiles {
    slurm {
        executor {
            name = 'slurm'
            queueSize = 20
        }
        
        cpus     = 6
        memory   = '24 GB'
        time     = '6h'
        queue = 'express, normal, long,big-mem'    
        }

    local {
        executor {
            name = 'local'
        }
    }
}
